:host {
  position: relative;
  width: 50%;
  height: 60%;
  border-radius: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  height: 100%;
  float: left;
  background-color: #f3f3f3;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;

  img {
    width: 180px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  width: 50%;
  padding: 32px;

  clr-input-container {
    margin-bottom: 32px;

    label {
      margin-bottom: 8px;
    }

    input {
      width: 100%;
    }
  }

  .logo {
    margin: 0 auto 32px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
  }
}
